--
-- PostgreSQL database dump
--

\restrict lSGADjZn0D89SXnQn1bBbJ1vqhU0JJxSdCPDBvvfcoQCUElzC78ntffhSywbU7h

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO skillsphere_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO skillsphere_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO skillsphere_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO skillsphere_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_results_chordcounter; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.django_celery_results_chordcounter (
    id integer NOT NULL,
    group_id character varying(255) NOT NULL,
    sub_tasks text NOT NULL,
    count integer NOT NULL,
    CONSTRAINT django_celery_results_chordcounter_count_check CHECK ((count >= 0))
);


ALTER TABLE public.django_celery_results_chordcounter OWNER TO skillsphere_user;

--
-- Name: django_celery_results_chordcounter_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.django_celery_results_chordcounter ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_results_chordcounter_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_results_groupresult; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.django_celery_results_groupresult (
    id integer NOT NULL,
    group_id character varying(255) NOT NULL,
    date_created timestamp with time zone NOT NULL,
    date_done timestamp with time zone NOT NULL,
    content_type character varying(128) NOT NULL,
    content_encoding character varying(64) NOT NULL,
    result text
);


ALTER TABLE public.django_celery_results_groupresult OWNER TO skillsphere_user;

--
-- Name: django_celery_results_groupresult_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.django_celery_results_groupresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_results_groupresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_results_taskresult; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.django_celery_results_taskresult (
    id integer NOT NULL,
    task_id character varying(255) NOT NULL,
    status character varying(50) NOT NULL,
    content_type character varying(128) NOT NULL,
    content_encoding character varying(64) NOT NULL,
    result text,
    date_done timestamp with time zone NOT NULL,
    traceback text,
    meta text,
    task_args text,
    task_kwargs text,
    task_name character varying(255),
    worker character varying(100),
    date_created timestamp with time zone NOT NULL,
    periodic_task_name character varying(255),
    date_started timestamp with time zone
);


ALTER TABLE public.django_celery_results_taskresult OWNER TO skillsphere_user;

--
-- Name: django_celery_results_taskresult_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.django_celery_results_taskresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_results_taskresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO skillsphere_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO skillsphere_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO skillsphere_user;

--
-- Name: projects_project; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.projects_project (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    file character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    file_thumbnail character varying(100)
);


ALTER TABLE public.projects_project OWNER TO skillsphere_user;

--
-- Name: projects_project_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.projects_project ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.projects_project_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: projects_project_likes; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.projects_project_likes (
    id bigint NOT NULL,
    project_id bigint NOT NULL,
    usermodel_id bigint NOT NULL
);


ALTER TABLE public.projects_project_likes OWNER TO skillsphere_user;

--
-- Name: projects_project_likes_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.projects_project_likes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.projects_project_likes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: projects_projectcomment; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.projects_projectcomment (
    id bigint NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    project_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.projects_projectcomment OWNER TO skillsphere_user;

--
-- Name: projects_projectcomment_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.projects_projectcomment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.projects_projectcomment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_notification; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.users_notification (
    id bigint NOT NULL,
    message text NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    recipient_id bigint NOT NULL,
    notification_type character varying(20) NOT NULL,
    sender_id bigint
);


ALTER TABLE public.users_notification OWNER TO skillsphere_user;

--
-- Name: users_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.users_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_useractivitylog; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.users_useractivitylog (
    id bigint NOT NULL,
    path character varying(255) NOT NULL,
    method character varying(10) NOT NULL,
    status_code integer NOT NULL,
    duration double precision NOT NULL,
    ip_address inet,
    created_at timestamp with time zone NOT NULL,
    user_id bigint
);


ALTER TABLE public.users_useractivitylog OWNER TO skillsphere_user;

--
-- Name: users_useractivitylog_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.users_useractivitylog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_useractivitylog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_usermodel; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.users_usermodel (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL
);


ALTER TABLE public.users_usermodel OWNER TO skillsphere_user;

--
-- Name: users_usermodel_groups; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.users_usermodel_groups (
    id bigint NOT NULL,
    usermodel_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_usermodel_groups OWNER TO skillsphere_user;

--
-- Name: users_usermodel_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.users_usermodel_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_usermodel_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_usermodel_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.users_usermodel ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_usermodel_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_usermodel_user_permissions; Type: TABLE; Schema: public; Owner: skillsphere_user
--

CREATE TABLE public.users_usermodel_user_permissions (
    id bigint NOT NULL,
    usermodel_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_usermodel_user_permissions OWNER TO skillsphere_user;

--
-- Name: users_usermodel_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: skillsphere_user
--

ALTER TABLE public.users_usermodel_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_usermodel_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_celery_results_chordcounter; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--

COPY public.django_celery_results_chordcounter (id, group_id, sub_tasks, count) FROM stdin;
\.


--
-- Data for Name: django_celery_results_groupresult; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--

COPY public.django_celery_results_groupresult (id, group_id, date_created, date_done, content_type, content_encoding, result) FROM stdin;
\.


--
-- Data for Name: django_celery_results_taskresult; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--

COPY public.django_celery_results_taskresult (id, task_id, status, content_type, content_encoding, result, date_done, traceback, meta, task_args, task_kwargs, task_name, worker, date_created, periodic_task_name, date_started) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	django_celery_results	taskresult
7	django_celery_results	chordcounter
8	django_celery_results	groupresult
9	users	usermodel
10	users	useractivitylog
11	users	notification
12	projects	project
13	projects	projectcomment
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: projects_project; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--

COPY public.projects_project (id, title, description, file, created_at, user_id, file_thumbnail) FROM stdin;
1	My First Project	Test project for the dashboard	project_files/sample.pdf	2026-07-23 17:38:01.230054+00	1	
\.


--
-- Data for Name: projects_project_likes; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--

COPY public.projects_project_likes (id, project_id, usermodel_id) FROM stdin;
1	1	1
2	1	2
\.


--
-- Data for Name: projects_projectcomment; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--

COPY public.projects_projectcomment (id, content, created_at, project_id, user_id) FROM stdin;
1	This is a test comment on my project	2026-07-23 17:38:01.236553+00	1	1
2	hi	2026-07-23 17:39:28.364607+00	1	2
3	s	2026-07-23 17:39:54.362892+00	1	2
\.


--
-- Data for Name: users_notification; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--

COPY public.users_notification (id, message, is_read, created_at, recipient_id, notification_type, sender_id) FROM stdin;
1	aa@gmail.com ╪▒┘ê█î ┘╛╪▒┘ê┌ÿ┘ç ╪┤┘à╪º ┌⌐╪º┘à┘å╪¬ ┌»╪░╪º╪┤╪¬.	f	2026-07-23 17:39:28.368602+00	1	chat	2
2	aa@gmail.com ┘╛╪▒┘ê┌ÿ┘ç ╪┤┘à╪º ╪▒╪º ┘ä╪º█î┌⌐ ┌⌐╪▒╪».	f	2026-07-23 17:39:33.017046+00	1	like	2
3	aa@gmail.com ╪▒┘ê█î ┘╛╪▒┘ê┌ÿ┘ç ╪┤┘à╪º ┌⌐╪º┘à┘å╪¬ ┌»╪░╪º╪┤╪¬.	f	2026-07-23 17:39:54.368354+00	1	chat	2
\.


--
-- Data for Name: users_useractivitylog; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--



--
-- Data for Name: users_usermodel; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--

COPY public.users_usermodel (id, password, last_login, is_superuser, username, first_name, last_name, is_staff, is_active, date_joined, email) FROM stdin;
1	pbkdf2_sha256$1000000$WfiwQaVift8EqUTNOEGHZk$9uRoooHeuAW3tGR8xP/Q6sVS/PJB+P4xKwmLkMbbfeo=	\N	f	testuser	Test		f	t	2026-07-23 17:38:01.087905+00	test@example.com
2	pbkdf2_sha256$1000000$wKCvTDrjjrbSmI0lUmWHGY$PkrKvtpZCobX7+b/qv984qC4/Nfawrd7pDOlZ+O0nWg=	\N	f	aa@gmail.com	aa		f	t	2026-07-23 17:39:09.395995+00	aa@gmail.com
\.


--
-- Data for Name: users_usermodel_groups; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--

COPY public.users_usermodel_groups (id, usermodel_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_usermodel_user_permissions; Type: TABLE DATA; Schema: public; Owner: skillsphere_user
--

COPY public.users_usermodel_user_permissions (id, usermodel_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 52, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_celery_results_chordcounter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.django_celery_results_chordcounter_id_seq', 1, false);


--
-- Name: django_celery_results_groupresult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.django_celery_results_groupresult_id_seq', 1, false);


--
-- Name: django_celery_results_taskresult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.django_celery_results_taskresult_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 13, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 43, true);


--
-- Name: projects_project_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.projects_project_id_seq', 1, true);


--
-- Name: projects_project_likes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.projects_project_likes_id_seq', 2, true);


--
-- Name: projects_projectcomment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.projects_projectcomment_id_seq', 3, true);


--
-- Name: users_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.users_notification_id_seq', 3, true);


--
-- Name: users_useractivitylog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.users_useractivitylog_id_seq', 48, true);


--
-- Name: users_usermodel_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.users_usermodel_groups_id_seq', 1, false);


--
-- Name: users_usermodel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.users_usermodel_id_seq', 2, true);


--
-- Name: users_usermodel_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: skillsphere_user
--

SELECT pg_catalog.setval('public.users_usermodel_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_chordcounter django_celery_results_chordcounter_group_id_key; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.django_celery_results_chordcounter
    ADD CONSTRAINT django_celery_results_chordcounter_group_id_key UNIQUE (group_id);


--
-- Name: django_celery_results_chordcounter django_celery_results_chordcounter_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.django_celery_results_chordcounter
    ADD CONSTRAINT django_celery_results_chordcounter_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_groupresult django_celery_results_groupresult_group_id_key; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.django_celery_results_groupresult
    ADD CONSTRAINT django_celery_results_groupresult_group_id_key UNIQUE (group_id);


--
-- Name: django_celery_results_groupresult django_celery_results_groupresult_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.django_celery_results_groupresult
    ADD CONSTRAINT django_celery_results_groupresult_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_taskresult django_celery_results_taskresult_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.django_celery_results_taskresult
    ADD CONSTRAINT django_celery_results_taskresult_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_taskresult django_celery_results_taskresult_task_id_key; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.django_celery_results_taskresult
    ADD CONSTRAINT django_celery_results_taskresult_task_id_key UNIQUE (task_id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: projects_project_likes projects_project_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.projects_project_likes
    ADD CONSTRAINT projects_project_likes_pkey PRIMARY KEY (id);


--
-- Name: projects_project_likes projects_project_likes_project_id_usermodel_id_dd2d8f87_uniq; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.projects_project_likes
    ADD CONSTRAINT projects_project_likes_project_id_usermodel_id_dd2d8f87_uniq UNIQUE (project_id, usermodel_id);


--
-- Name: projects_project projects_project_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.projects_project
    ADD CONSTRAINT projects_project_pkey PRIMARY KEY (id);


--
-- Name: projects_projectcomment projects_projectcomment_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.projects_projectcomment
    ADD CONSTRAINT projects_projectcomment_pkey PRIMARY KEY (id);


--
-- Name: users_notification users_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.users_notification
    ADD CONSTRAINT users_notification_pkey PRIMARY KEY (id);


--
-- Name: users_useractivitylog users_useractivitylog_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.users_useractivitylog
    ADD CONSTRAINT users_useractivitylog_pkey PRIMARY KEY (id);


--
-- Name: users_usermodel users_usermodel_email_key; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.users_usermodel
    ADD CONSTRAINT users_usermodel_email_key UNIQUE (email);


--
-- Name: users_usermodel_groups users_usermodel_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.users_usermodel_groups
    ADD CONSTRAINT users_usermodel_groups_pkey PRIMARY KEY (id);


--
-- Name: users_usermodel_groups users_usermodel_groups_usermodel_id_group_id_9b0d8efb_uniq; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.users_usermodel_groups
    ADD CONSTRAINT users_usermodel_groups_usermodel_id_group_id_9b0d8efb_uniq UNIQUE (usermodel_id, group_id);


--
-- Name: users_usermodel users_usermodel_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.users_usermodel
    ADD CONSTRAINT users_usermodel_pkey PRIMARY KEY (id);


--
-- Name: users_usermodel_user_permissions users_usermodel_user_per_usermodel_id_permission__4267deae_uniq; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.users_usermodel_user_permissions
    ADD CONSTRAINT users_usermodel_user_per_usermodel_id_permission__4267deae_uniq UNIQUE (usermodel_id, permission_id);


--
-- Name: users_usermodel_user_permissions users_usermodel_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.users_usermodel_user_permissions
    ADD CONSTRAINT users_usermodel_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_usermodel users_usermodel_username_key; Type: CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.users_usermodel
    ADD CONSTRAINT users_usermodel_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_cele_date_cr_bd6c1d_idx; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX django_cele_date_cr_bd6c1d_idx ON public.django_celery_results_groupresult USING btree (date_created);


--
-- Name: django_cele_date_cr_f04a50_idx; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX django_cele_date_cr_f04a50_idx ON public.django_celery_results_taskresult USING btree (date_created);


--
-- Name: django_cele_date_do_caae0e_idx; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX django_cele_date_do_caae0e_idx ON public.django_celery_results_groupresult USING btree (date_done);


--
-- Name: django_cele_date_do_f59aad_idx; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX django_cele_date_do_f59aad_idx ON public.django_celery_results_taskresult USING btree (date_done);


--
-- Name: django_cele_periodi_1993cf_idx; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX django_cele_periodi_1993cf_idx ON public.django_celery_results_taskresult USING btree (periodic_task_name);


--
-- Name: django_cele_status_9b6201_idx; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX django_cele_status_9b6201_idx ON public.django_celery_results_taskresult USING btree (status);


--
-- Name: django_cele_task_na_08aec9_idx; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX django_cele_task_na_08aec9_idx ON public.django_celery_results_taskresult USING btree (task_name);


--
-- Name: django_cele_worker_d54dd8_idx; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX django_cele_worker_d54dd8_idx ON public.django_celery_results_taskresult USING btree (worker);


--
-- Name: django_celery_results_chordcounter_group_id_1f70858c_like; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX django_celery_results_chordcounter_group_id_1f70858c_like ON public.django_celery_results_chordcounter USING btree (group_id varchar_pattern_ops);


--
-- Name: django_celery_results_groupresult_group_id_a085f1a9_like; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX django_celery_results_groupresult_group_id_a085f1a9_like ON public.django_celery_results_groupresult USING btree (group_id varchar_pattern_ops);


--
-- Name: django_celery_results_taskresult_task_id_de0d95bf_like; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX django_celery_results_taskresult_task_id_de0d95bf_like ON public.django_celery_results_taskresult USING btree (task_id varchar_pattern_ops);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: projects_project_likes_project_id_40056201; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX projects_project_likes_project_id_40056201 ON public.projects_project_likes USING btree (project_id);


--
-- Name: projects_project_likes_usermodel_id_17559244; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX projects_project_likes_usermodel_id_17559244 ON public.projects_project_likes USING btree (usermodel_id);


--
-- Name: projects_project_user_id_719f19dd; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX projects_project_user_id_719f19dd ON public.projects_project USING btree (user_id);


--
-- Name: projects_projectcomment_project_id_c9cb523e; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX projects_projectcomment_project_id_c9cb523e ON public.projects_projectcomment USING btree (project_id);


--
-- Name: projects_projectcomment_user_id_e1688666; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX projects_projectcomment_user_id_e1688666 ON public.projects_projectcomment USING btree (user_id);


--
-- Name: users_notification_sender_id_d487ebb3; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX users_notification_sender_id_d487ebb3 ON public.users_notification USING btree (sender_id);


--
-- Name: users_notification_user_id_fed360c8; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX users_notification_user_id_fed360c8 ON public.users_notification USING btree (recipient_id);


--
-- Name: users_useractivitylog_user_id_5f634ccf; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX users_useractivitylog_user_id_5f634ccf ON public.users_useractivitylog USING btree (user_id);


--
-- Name: users_usermodel_email_3962c86a_like; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX users_usermodel_email_3962c86a_like ON public.users_usermodel USING btree (email varchar_pattern_ops);


--
-- Name: users_usermodel_groups_group_id_21c32c00; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX users_usermodel_groups_group_id_21c32c00 ON public.users_usermodel_groups USING btree (group_id);


--
-- Name: users_usermodel_groups_usermodel_id_5dda3e30; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX users_usermodel_groups_usermodel_id_5dda3e30 ON public.users_usermodel_groups USING btree (usermodel_id);


--
-- Name: users_usermodel_user_permissions_permission_id_ca2684d8; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX users_usermodel_user_permissions_permission_id_ca2684d8 ON public.users_usermodel_user_permissions USING btree (permission_id);


--
-- Name: users_usermodel_user_permissions_usermodel_id_bbf08559; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX users_usermodel_user_permissions_usermodel_id_bbf08559 ON public.users_usermodel_user_permissions USING btree (usermodel_id);


--
-- Name: users_usermodel_username_20b513bc_like; Type: INDEX; Schema: public; Owner: skillsphere_user
--

CREATE INDEX users_usermodel_username_20b513bc_like ON public.users_usermodel USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_usermodel_id; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_usermodel_id FOREIGN KEY (user_id) REFERENCES public.users_usermodel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: projects_project_likes projects_project_lik_project_id_40056201_fk_projects_; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.projects_project_likes
    ADD CONSTRAINT projects_project_lik_project_id_40056201_fk_projects_ FOREIGN KEY (project_id) REFERENCES public.projects_project(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: projects_project_likes projects_project_lik_usermodel_id_17559244_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.projects_project_likes
    ADD CONSTRAINT projects_project_lik_usermodel_id_17559244_fk_users_use FOREIGN KEY (usermodel_id) REFERENCES public.users_usermodel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: projects_project projects_project_user_id_719f19dd_fk_users_usermodel_id; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.projects_project
    ADD CONSTRAINT projects_project_user_id_719f19dd_fk_users_usermodel_id FOREIGN KEY (user_id) REFERENCES public.users_usermodel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: projects_projectcomment projects_projectcomm_project_id_c9cb523e_fk_projects_; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.projects_projectcomment
    ADD CONSTRAINT projects_projectcomm_project_id_c9cb523e_fk_projects_ FOREIGN KEY (project_id) REFERENCES public.projects_project(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: projects_projectcomment projects_projectcomment_user_id_e1688666_fk_users_usermodel_id; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.projects_projectcomment
    ADD CONSTRAINT projects_projectcomment_user_id_e1688666_fk_users_usermodel_id FOREIGN KEY (user_id) REFERENCES public.users_usermodel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_notification users_notification_recipient_id_0ae2cf8f_fk_users_usermodel_id; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.users_notification
    ADD CONSTRAINT users_notification_recipient_id_0ae2cf8f_fk_users_usermodel_id FOREIGN KEY (recipient_id) REFERENCES public.users_usermodel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_notification users_notification_sender_id_d487ebb3_fk_users_usermodel_id; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.users_notification
    ADD CONSTRAINT users_notification_sender_id_d487ebb3_fk_users_usermodel_id FOREIGN KEY (sender_id) REFERENCES public.users_usermodel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_useractivitylog users_useractivitylog_user_id_5f634ccf_fk_users_usermodel_id; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.users_useractivitylog
    ADD CONSTRAINT users_useractivitylog_user_id_5f634ccf_fk_users_usermodel_id FOREIGN KEY (user_id) REFERENCES public.users_usermodel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_usermodel_groups users_usermodel_grou_usermodel_id_5dda3e30_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.users_usermodel_groups
    ADD CONSTRAINT users_usermodel_grou_usermodel_id_5dda3e30_fk_users_use FOREIGN KEY (usermodel_id) REFERENCES public.users_usermodel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_usermodel_groups users_usermodel_groups_group_id_21c32c00_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.users_usermodel_groups
    ADD CONSTRAINT users_usermodel_groups_group_id_21c32c00_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_usermodel_user_permissions users_usermodel_user_permission_id_ca2684d8_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.users_usermodel_user_permissions
    ADD CONSTRAINT users_usermodel_user_permission_id_ca2684d8_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_usermodel_user_permissions users_usermodel_user_usermodel_id_bbf08559_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: skillsphere_user
--

ALTER TABLE ONLY public.users_usermodel_user_permissions
    ADD CONSTRAINT users_usermodel_user_usermodel_id_bbf08559_fk_users_use FOREIGN KEY (usermodel_id) REFERENCES public.users_usermodel(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict lSGADjZn0D89SXnQn1bBbJ1vqhU0JJxSdCPDBvvfcoQCUElzC78ntffhSywbU7h

